 
    
style
       
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('https://img.freepik.com/premium-photo/cup-coffee-map-world-international-coffee-day-concept_622540-2743.jpg'); 
    background-size: cover ; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: Arial, sans-serif; 
}


.text-container {
    background-color: #333;
    padding: 20px;
    border-radius: 5px; 
    position:fixed;
    bottom:80%;
    right: 10%;
   
}


h1 {
    color: #e7a54f; 
    font-size: 2.5em; 
}

style
        body {
            height: 2000px; 
            background: linear-gradient(to bottom, #f0f0f0, #cccccc);
            padding: 20px;
        }

        #scrollToTopBtn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none; 
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
        }

        #scrollToTopBtn:hover {
            background-color: #0056b3;
        }
